.about_me {
    color: gray; 
}

.app {
    background-color: white;
    display: flex;
    width: 1200px;
    margin: 40px auto;
}

.montserrat_class_textFONT {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}